
/*essa parte esconde os botoes do topo*/
@media screen and (max-width: 878px){
    header .menu-desktop, header .btn-contato{
        display: none;
    }
}

@media screen and (max-width: 800px){
    /*responsivo da hero*/
    .hero-site .txt-hero h1 {
        font-size: 2em;
        line-height: 45px; /*as letras não fica tão espaçosa*/
        
    }
    
        
    .hero-site .txt-hero p{
        font-size: 14px;
        
    }
    
    .hero-site .txt-hero p span{
        display: inline;
    }
    
    .hero-site button{
        font-size: 18px;
        
}
/*Responsivos das vantagens*/
.vantagens .itens-container{
flex-direction: column;
}

.vantagens .itens-container .img-itens img{
max-width: 100%; 
}

.vantagens .itens-container .txt-itens p{
    margin-bottom: 20px;
    }

.vantagens .itens-container .txt-itens h3{
font-size: 3em;
line-height: 50px; /*ira deixar as fontes juntas*/
margin-bottom: 20px;
}

.itens-container .txt-itens h3 span{
font-weight: 300;
}
}



